# SPDX-License-Identifier: Unlicense
# START level_2.template{{{
# shellcheck shell=sh disable=SC1054,SC1083,SC2034
#}}}
VERSION=0.7.0-alpha
TAG=:latest
CONTEXT_FILE=./test.context.sh
{{{

	{{{
		echo \# A
	}}}
	B

	C
}}}
A() { printf '#AAA'; }
B() { printf '#BBB'; }
C() { printf '#CCC'; }
D() { printf '#DDD'; }
E() { printf '#EEE'; }


# ===== Render yet another file recursively ===================================================
{{{		render		./level_3.template		}}}
# ===== Include a file without processing it ==================================================
# cat can be used to include a file without parsing and rendering as a template
{{{cat ./poem_2.template.md}}}
# END level_2.template

