%{{{{ printf foo}}}}
{{{printf foo}}}
{{{ printf foo }}}
{{{     printf foo    }}}
{{{ echo "foo" }}
{{{ printf 'foo' }}}
------------------------------------------
{{{ printf "f"o"o"; printf 'b'a'r' }}}
{{{ echo foo {{{ printf bar }}} echo foo }}}
------------------------------------------
{{{{ }}}
{{{ }}} }}}
{{{ {{{ }}}
{{{}}}}}}
{{{ {{{ }}}
{{{ }}}{{{ }}}
------------------------------------------
{{{
    {{{
        {{{
            {{{ }}}
        }}}
    }}}

}}}
------------------------------------------
{{{echo foo;printf bar}}}
------------------------------------------
{{{
    printf bar
}}}
